name: Build and Deploy to Cloud Run
on:
  push:
    branches: [ "main" ] 
env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: asia-south1
  SERVICE_NAME: demo-docker
  IMAGE_NAME: backendgcp

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1

    - name: Configure Docker
      run: gcloud auth configure-docker asia-south1-docker.pkg.dev

    - name: Build and Push Container
      run: |-
        docker build -t "asia-south1-docker.pkg.dev/$PROJECT_ID/cloud-run-source-deploy/$IMAGE_NAME:$GITHUB_SHA" .
        docker push "asia-south1-docker.pkg.dev/$PROJECT_ID/cloud-run-source-deploy/$IMAGE_NAME:$GITHUB_SHA"

    - name: Deploy to Cloud Run
      run: |-
        gcloud run deploy $SERVICE_NAME \
          --image "asia-south1-docker.pkg.dev/$PROJECT_ID/cloud-run-source-deploy/$IMAGE_NAME:$GITHUB_SHA" \
          --region $REGION \
          --platform managed